---
import interactiveImgDesktop from "../../images/desktop/image-interactive.jpg";
---

<section>
  <div
    class="section-container my-32 relative flex flex-col md:flex-row md:px-0"
  >
    <!-- Image -->
    <img
      src={interactiveImgDesktop}
      alt="A yougn man having fun with VR headset"
    />
    <!-- Text -->
    <div
      class="top-48 pr-0 bg-white text-center md:absolute md:right-0 md:py-20 md:pl-20 md:text-left"
    >
      <h2 class="max-w-lg mt-10 mb-6 text-center md:mt-0 md:text-left">
        The leader in interactive VR
      </h2>
      <p class="max-w-md font-extralight text-center md:text-left">
        Founded in 2011, Loopstudios has been producing world-class virtual
        reality projects for some of the best companies around the globe. Our
        award-winning creations have transformed businesses through digital
        experiences that bind to their brand.
      </p>
    </div>
  </div>
</section>
