---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
  <h1 class="text-blue-300 font-sans">Hello World</h1>
  <h1 class="text-blue-300 font-alata">Hello World</h1>
  <h1 class="text-blue-300">Hello World</h1>
</BaseLayout>
