---
import Menu from "../components/Menu.astro";
---

<section
  class="bg-cover bg-center bg-no-repeat bg-hero-bg-mobile md:bg-hero-bg-desktop md:bg-top"
>
  <div class="section-container py-12">
    <Menu />
    <div
      class="max-w-lg my-32 p-4 font-sans font-light text-4xl text-white uppercase border-2 md:p-10 md:m-32 md:mx-0 md:text-6xl"
    >
      Impressive Experiences That Deliver
    </div>
  </div>
</section>
